<div class="col col-md-4">
  <article class="card h-100">
    <div class="card-body">
      <h5 class="card-title">
        {% if app.icon %}
          <i class="{{ app.icon }}"></i>
        {% endif %}
        {{ app.name }}<br/>
        <span class="fs-6">
          by <a href="{{ app.author.id }}.html">{{ app.author.name }}</a>
        </span>
      </h5>
      <p class="card-text">{{ app.short }}</p>
      <a href="./{{ app.id }}.html" class="btn btn-light">
        <i class="fa-solid fa-circle-info"></i>
        info
      </a>
      <a
        href="{{ app.download }}"
        {% if app.direct %}download{% else %}target="_blank"{% endif %}
        class="btn btn-light"
      >
        <i class="fa-solid fa-download"></i>
        get
      </a>
    </div>
  </article>
</div>
