{% extends "base.html.j2" %}
{% block title %}
  {{ app.name }} by {{ app.author.name }}
{% endblock %}
{% block body %}
  <div class="row justify-content-center mb-1">
    <div class="col col-md-6">
      <h1>
        <a href="/">Apps</a> /
        {{ app.name }}
      </h1>
      <ul class="list-unstyled">
        <li>
          <img src="./assets/user.svg" class="icon" title="author name">
          {{ app.author.name }}
        </li>
        <li>
          <img src="./assets/calendar-plus.svg" class="icon" title="date when added">
          {{ app.added }}
        </li>
        <li>
          <img src="./assets/info-circle.svg" class="icon" title="short description">
          {{ app.short }}
        </li>
      </ul>

      {% markdown %}
        {{ app.desc }}
      {% endmarkdown %}

      {# Buttons #}
      {% if app.repo %}
        <a href="{{ app.repo }}" target="_blank" class="btn btn-light">
          {% if app.repo.startswith('https://github.com/') %}
            <img src="./assets/github.svg" class="icon">
          {% elif app.repo.startswith('https://gitlab.com/') %}
            <img src="./assets/gitlab-full.svg" class="icon">
          {% else %}
            <img src="./assets/repository.svg" class="icon">
          {% endif %}
          source code
        </a>
      {% endif %}
      <a href="{{ app.download }}" target="_blank" class="btn btn-light">
        <img src="./assets/download.svg" class="icon">
        download
      </a>

      {# Comments #}
      {# https://giscus.app/ #}
      <script
        src="https://giscus.app/client.js"
        data-repo="firefly-zero/catalog.fireflyzero.com"
        data-repo-id="R_kgDOL2E5Kw"
        data-category="Reviews"
        data-category-id="DIC_kwDOL2E5K84CfQ1G"
        data-mapping="specific"
        data-term="{{ app.id }}"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="noborder_light"
        data-lang="en"
        crossorigin="anonymous"
        async
      ></script>

    </div>
  </div>
{% endblock %}
