{% extends "base.html.j2" %}
{% block title %}
  {{ author.name }}
{% endblock %}
{% block body %}
<div class="row justify-content-center mb-1">
  <div class="col col-md-8">
    <h1>
      <a href="/">Catalog</a> /
      <a href="authors.html">Authors</a> /
      {{ author.name }}
    </h1>

    <p>{{ author.short }}</p>
    {% if author.about %}
      {% markdown %}
        {{ author.about }}
      {% endmarkdown %}
    {% endif %}

    {% for name, url in author.links.items() %}
    <a class="btn btn-light" href="{{ url }}">
      {% if get_icon(name, url) %}
        <i class="{{ get_icon(name, url) }}"></i>
      {% endif %}
      {{ name }}
    </a>
    {% endfor %}
  </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-1 mt-1">
  {% for app in apps %}
    {% include 'app-card.html.j2' %}
  {% endfor %}
</div>

{% endblock %}
