<div class="col col-md-4">
  <article class="card">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{ author.id }}.html">
          {{ author.name }}
        </a>
      </h5>
      <p class="card-text">{{ author.short }}</p>
    </div>
  </article>
</div>