{% extends "base.html.j2" %}
{% block body %}
  <main class="row row-cols-1 row-cols-md-4 g-1 mt-1">
    {% for app in apps %}
      <div class="col col-md-4">
        <article class="card">
          <div class="card-body">
            <h5 class="card-title">
              {{ app.name }}<br/>
              <span class="text-muted fs-6">by {{ app.author.name }}</span>
            </h5>
            <p class="card-text">{{ app.short }}</p>
            <a href="./{{ app.id }}.html" class="btn btn-light">
              <img src="./assets/info-circle.svg" class="icon">
              info
            </a>
            <a href="{{ app.download }}" target="_blank" class="btn btn-light">
              <img src="./assets/download.svg" class="icon">
              get
            </a>
          </div>
        </article>
      </div>
    {% endfor %}
  </main>
{% endblock %}
