{% extends "base.html.j2" %}
{% block body %}
  <main class="row row-cols-1 row-cols-md-4 g-1 mt-1">
    {% for app in apps %}
      {% include 'app-card.html.j2' %}
    {% endfor %}
  </main>
  <footer class="mb-1 mt-1">
    <a
      href="https://github.com/firefly-zero/catalog.fireflyzero.com?tab=readme-ov-file#add-a-new-app"
      target="_blank"
      class="btn btn-light"
    >
      <i class="fa-solid fa-plus"></i>
      add
    </a>
  </footer>
{% endblock %}
